.footer {
  --height: calc(var(--navbar-height));
  position: absolute;
  bottom: calc(var(--height) * -1);
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(var(--height) * 1);
  border-top: var(--line) solid var(--section-color);
  z-index: var(--z-footer);

  @include mq($until: tablet) {
    z-index: 0;
  }

  @include mq($from: tablet) {
    &.what-we-do {
      padding-left: calc(var(--side-l) + var(--outer-margin));
    }

    &.who-we-are {
      padding-left: calc(var(--side-m) + var(--outer-margin));
    }

    &.about-us {
      padding-left: calc(var(--side-s) + var(--outer-margin));
    }
  }

  h3 {
    padding-bottom: 0;

    span {
      margin-right: 1em;
    }
  }
}
