.line {
  appearance: none;
  position: fixed;
  top: 0;
  margin: 0;
  border: 0;
  left: var(--side-default);
  height: 100vh;
  width: var(--line);
  z-index: var(--z-line);
  background-color: var(--section-color);
  transition: left 0.3s ease-out, background-color var(--color-transition);

  &.what-we-do {
    left: var(--side-l);
  }

  &.who-we-are {
    left: var(--side-m);
  }

  &.about-us {
    left: var(--side-s);
  }
}