.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  border-bottom: var(--line) solid var(--section-color);
  transition: border-bottom var(--color-transition);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: var(--grid-unit);
  padding-right: var(--grid-unit);
  z-index: var(--z-menu);
  height: var(--navbar-height);

  &.background {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  }

  .logo {
    align-items: flex-start;
    text-align: left;
    flex: 1 1 auto;
    line-height: 1;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    li {
      padding-left: 1em;
      cursor: pointer;
      transition: color var(--color-transition), opacity 0.2s ease-out;

      &.selected,
      &.selected>a {
        transition: color var(--color-transition);
        color: var(--section-color);
      }

      &.inactive,
      &.inactive>a {
        color: gray !important;
      }

      opacity: 1;

      &.hidden {
        opacity: 0;
      }

      &.what-we-do {
        color: var(--what-we-do-color);
      }

      &.who-we-are {
        color: var(--who-we-are-color);
      }

      &.about-us {
        color: var(--about-us-color);
      }

      &.contact {
        color: var(--contact-color);
      }
    }
  }

  .sub {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: var(--grid-unit);
    bottom: calc(-1 * (var(--navbar-height) + var(--line)));
    right: 0;
    height: var(--navbar-height);
    width: 100%;
    border-bottom: var(--line) solid var(--section-color);
    transition: border-bottom var(--color-transition);
    z-index: var(--z-menu-sub);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);

  }
}