.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  border-bottom: var(--line) solid var(--section-color);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: var(--grid-unit);
  padding-right: var(--grid-unit);
  z-index: var(--z-menu);
  height: var(--navbar-height);

  .logo {
    align-items: flex-start;
    text-align: left;
    flex: 1 1 auto;
    line-height: 1;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    li {
      padding-right: 1em;
      cursor: pointer;

      &.selected,
      &.selected>a {
        color: var(--section-color);
      }

      &.selectedSub {
        color: gray;
      }
    }
  }

  .sub {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: var(--grid-unit);
    bottom: calc(-1 * (var(--navbar-height) + var(--line)));
    right: 0;
    height: var(--navbar-height);
    width: 100%;
    border-bottom: var(--line) solid var(--section-color);
    backdrop-filter: blur(6px); // This be the blur
  }
}