.container {
  display: flex;
  flex-direction: row;

  aside,
  article {
    padding: var(--outer-margin);
  }

  aside {
    flex: 0 0 var(--side-s);

    .quotes {
      color: var(--section-color);
      position: sticky;
      top: calc(100vh - (var(--navbar-height) + 4rem));
    }
  }

  article {
    flex: 1 1 auto;
    padding-right: calc(5 * var(--grid-unit));
  }
}
