.container {
  display: flex;
  flex-direction: row;

  aside,
  article {
    padding: var(--outer-margin);
  }

  aside {
    @include mq($until: tablet) {
      display: none;
    }

    @include mq($from: tablet) {
      flex: 0 0 var(--side-s);
    }

    .quotes {
      color: var(--section-color);
      transition: color var(--color-transition);
      position: sticky;
      top: calc(100vh - (var(--navbar-height) + 4rem));
    }
  }

  article {
    flex: 1 1 auto;

    @include mq($from: tablet) {
      padding-right: calc(5 * var(--grid-unit));
    }
  }
}